body{
    padding: 0;
    margin: 0;
    background-color: #E4E4E4;
}

/* menu de navigation*/
nav{
    background-color: black;
    color: white;
}
#menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 0;
    padding-left:2%;
    padding-right:2%;
    align-items: center;
}
/*il faudrait aligner les icones bien comme il faut et aussi faire l'espacement correctement entre le texte et l'icone*/
nav ul li img{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bouton:hover{/*on peut enlever des trucs plus bas*/
    background-color: #CA0000;
}
#menu .bouton{
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #CA0000;
    align-items: center;
    box-sizing: content-box;
}
.material-icons.icon-menu { 
    font-size: 15px; 
    vertical-align: text-top;
}
.drop{/*icons*/
    vertical-align: middle;
}
.current{
    background-color: red;
}
nav ul li{
    vertical-align: middle;
}
.dropdown-menu{/*cacher le menu deroulant*/
    display: none;
    position: absolute; /*reviser ça*/
    padding-top: 3px;
}
.sous-bouton {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #CA0000;
    position: relative;
}
.separateur{/*attention mettre un id si pas besoin de class*/
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
}
.dropbutton:hover .dropdown-menu{
    display: block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.dropbutton:hover .bouton {
    background-color: #CA0000;
}
.rectangle {
    height: 100%;
    width: 5px;
    background-color: #CA0000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.sous-bouton:hover .rectangle{
    background-color:black;
}







#layout {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: 75px 75px 20px 400px 10px 400px;
    grid-template-columns: 200px 10px 650px;
}
h1 {
    font-family: 'Lalezar';
    font-size: 38px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
#para{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;

}
main{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}
#img1{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
#txt2{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
}
#img2{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}






/*FOOTER*/
footer{
    background-color: black;/*couleur de fond du footer*/
    font-family: 'Roboto', sans-serif;
}
table{
    display: flex;/*tableau responsive*/
    flex-direction: column;
    padding-right: 10%;
    padding-left:10%;
    table-layout: fixed;/*la colonne du tableau de s'ajuste pas à la taille du contenu*/
    border-color: black;
    font-size: small ;
}
.col{
    width:19%;/*taille des colonnes en fonction de la taille de l'écran*/
    border-radius: 10px;
    border-color: #CA0000;
}
.vide{/*on veut des colonnes qui séparent vides*/
    width: 1.25%;
    border-color: black;
}
td .col{/*le texte est aligné à gauche*/
    text-align: left;
    padding: 20%;
}
.noms{/*les noms des colonnes sont alignés au centre*/
    text-align: center;
    border-radius: 10px;
    border-color: #CA0000;
}
#tab2 td{
    width: 10%;
}
table td,th,tr{/*couleurs pour les lignes du tableau qu'on ne veut pas voir*/
    color: white;
    border-color: black;
}
.lien-icon{/*les icones linkedin sont sur la meme ligne que le texte*/
    display:inline-block;
    margin-left: 8px;
}
.linkedin{/*on enlève les paramètres par défaut des liens*/
    text-decoration: none;
    color: white;
}

table, td, th{/*bordure du tableau*/
    border: 1px solid;
}
