body{/*arrière plan de couleur grise, pas de marges*/
    padding: 0;
    margin: 0;
    background-color: #E4E4E4;
}





/* Menu de navigation*/

nav{/*couleur de l'arrière plan et du texte*/
    background-color: black;
    color: white;
}
#menu{/*on veut que le menu soit un minimum responsive*/
    list-style-type: none;/*on enlève les puces des listes*/
    display: flex;/*permet le responsive*/
    justify-content: space-between;/*les boutons du menu prennent toute la place*/
    text-align: center;
    margin-top: 0;/*aucun espace avant le menu*/
    padding-left:2%;/*petite marge dans le menu pour pas que les boutons soient collés*/
    padding-right:2%;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
    font-size: 15px;/*on redimensionne la police*/
}
nav ul li img{/*on place l'image*/
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bouton:hover{/*changement de couleur du bouton si la souris survole*/
    background-color: #CA0000;
}
#menu .bouton{/*on paramètre les boutons*/
    color: white;
    text-decoration: none;/*on enlève le soulignement par défaut du lien de redirection*/
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;/*coins arrondis*/
    border-style: solid;/*bordure extérieure*/
    border-width: 1px;
    border-color: #CA0000;
    align-items: center;
    box-sizing: content-box;/*la taille du bouton dépend du contenu*/
}
.material-icons.icon-menu{ /*on redimensionne les icones et on les aligne*/
    font-size: 15px; 
    vertical-align: text-top;
}
.drop{/*icone triangle alignée différemment*/
    vertical-align: middle;
}
.current{/*quand on est sur cette page le bouton est rouge*/
    background-color: red;
}
nav ul li{
    vertical-align: middle;
}
.dropdown-menu{/*menu deroulant*/
    display: none;/*cacher le menu deroulant*/
    position: absolute;/*sa position dépend de la position de son parent*/
    padding-top: 3px;/*espace avec le parent*/
}
.sous-bouton {/*boutons du sous-menu*/
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;/*crée des boites*/
    text-align: center;
    background-color: #CA0000;
    position: relative;/*sa position dépend de sa position initiale*/ 
}
.separateur{/*sépare les boutons du sous-menu*/
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
}
.dropbutton:hover .dropdown-menu{/*si le bouton qui a un menu déroulant est survolé alors on affiche le menu déroulant*/
    display: block;/*permet d'afficher le menu déroulant*/
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.dropbutton:hover .bouton {/*si le menu est survolé le bouton du menu reste rouge*/
    background-color: #CA0000;
}
.rectangle {/*création d'un rectangle*/
    height: 100%;/*taille par rapport à ses parents*/
    width: 5px;/*largeur*/
    background-color: #CA0000;
    position: absolute;/*sa position dépend de celle de ses parents*/
    left: 0;/*on le colle au bord*/
    top: 0;
    bottom: 0;
}
.sous-bouton:hover .rectangle{/*si le bouton du sous-menu est survolé, on change la couleur du rectangle*/
    background-color:black;
}











/*Corps de page*/

h1{/*style des titres1*/
    font-family: 'Lalezar';
    font-size: 38px;
}
h3{/*style des titres3*/
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
p{/*style des paragraphes*/
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
#page{/*on utilise cette fois le grid pour que la page soit responsive*/
    display: grid;
    grid-template-columns: 10% 280px 16% 280px 10%;/*on crée des colonnes pour la grille*/
    grid-template-rows: 40px auto 520px auto 460px auto 500px auto 520px auto 480px 100px;/*on crée des lignes pour la grille*/
}
.card{/*création d'une carte*/
    background-color: white;/*couleur du fond*/
    border-radius: 5px;/*on arrondit les coins*/
    border-style: solid;
    border-color: #5c5c5c;
    width: 280px;
    height: auto;/*en fonction de la hauteur de la ligne de la grille*/
    display: flex;/*on essaie de la rendre responsive*/
    flex-direction: column;
    text-align: center;
}
.image{
    height:150px;
    width: 150px;
    border-radius: 50%;/*pour que l'image soit un cercle*/
}
.image-box{/*on place l'image dans la carte*/
    text-align: center;
    padding-top: 2%;
}
.card-text{
    text-align: center;/*centre le texte de la carte*/
    color:rgb(133, 133, 133);
    font-size: 14px;
}
hr{/*trait qui ne colle pas les bords de la carte*/
    margin: 10%;
}
.icones-card{/*style des icones*/
    font-size: 23px;
    margin-bottom: 20px;
}
.icones-card a{/*on enlève les couleurs par défaut des liens*/
    text-decoration: none;
    color: black;
}
.mots-clés{
    text-align: center;
    margin:10px;
    display: flex;
    justify-content: center;/*les mots sont centrés*/
    flex-wrap: wrap;/*retour à la ligne si les mots sont trop longs pour passer dans la largeur de la carte*/
}
.mots-clés p{/*chaque mot est sous la forme de bouton non cliquable*/
    font-size: 13px;
    background-color: #5c5c5c;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
}
.card:hover{/*changement de couleur de la carte si on passe dessus*/
    background-color: #444444;
    color:white;
}
.card:hover .image-box{/*l'arrière plan de l'image reste blanc*/
    background-color: white;
}
.card:hover .card-text{/*le texte change de couleur si la carte est survolée*/
    color:white;
} 
.card:hover .icones-card a{/*on change aussi la couleur des icones*/
    color:white;
}
.card-body{
    padding-bottom: 15px;
}
#a{/*place le titre dans la grille*/
    grid-row-start: 2;/*commence à la deuxième ligne*/
    grid-row-end: 3;/*finit à la 3e ligne*/
    grid-column-start: 2;/*commence à la 2e colonne*/
    grid-column-end: 5;/*finit à la 5e colonne*/
}
#b{/*place la première carte dans la grille*/
    grid-row-start:3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
#c{/*place la deuxième carte dans la grille*/
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}
#d{/*place le deuxième titre dans la grille*/
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}
#e{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
#f{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 5;
}
#g{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
}
#h{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 5;
}
#i{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
}
#j{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 5;
}
#k{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
}

@media screen and (max-width: 880px){/*si la taille de l'écran est inférieure à 880px*/
    #page {/*la page change*/
        display: block; /*la page est en colonne*/
        text-align: center;/*tout le texte est centré*/
        align-items: center;/*les éléments aussi sont centrés*/
    }
    .card {
        margin: auto; /*Permet de centrer les cartes*/
        margin-bottom: 25px;/*espace après les cartes*/
    }
}










/*FOOTER*/
footer{
    background-color: black;/*couleur de fond du footer*/
    font-family: 'Roboto', sans-serif;
}
table{
    display: flex;/*tableau responsive*/
    flex-direction: column;
    padding-right: 10%;
    padding-left:10%;
    table-layout: fixed;/*la colonne du tableau de s'ajuste pas à la taille du contenu*/
    border-color: black;
    font-size: small ;
}
.col{
    width:19%;/*taille des colonnes en fonction de la taille de l'écran*/
    border-radius: 10px;
    border-color: #CA0000;
}
.vide{/*on veut des colonnes qui séparent vides*/
    width: 1.25%;
    border-color: black;
}
td .col{/*le texte est aligné à gauche*/
    text-align: left;
    padding: 20%;
}
.noms{/*les noms des colonnes sont alignés au centre*/
    text-align: center;
    border-radius: 10px;
    border-color: #CA0000;
}
#tab2 td{
    width: 10%;
}
table td,th,tr{/*couleurs pour les lignes du tableau qu'on ne veut pas voir*/
    color: white;
    border-color: black;
}
.lien-icon{/*les icones linkedin sont sur la meme ligne que le texte*/
    display:inline-block;
    margin-left: 8px;
}
.linkedin{/*on enlève les paramètres par défaut des liens*/
    text-decoration: none;
    color: white;
}

table, td, th{/*bordure du tableau*/
    border: 1px solid;
}